.join-us-img{
  width:100px;
  height:100px;
  border: none;
  padding:10px;
}
#love{
  height: 15px;
  width: 15px;
}

#message-warning, #message-success {
  display: none;
  background: #000000;
  padding: 3rem;
  margin-bottom: 3.6rem;
  width: 100%;
}

#message-warning {
  color: #D32B2E;
}

#message-success {
  color: #f9a828;
}

#message-warning i,
#message-success i {
  margin-right: 10px;
}

.button.apply {
  background: transparent !important;
  border: 3px solid #e0e0e0;
  color: #e0e0e0;
  line-height: 4.8rem;
}